.box-anim{
    position: absolute;
    bottom: calc(400px);
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__item{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $color_white;
        font-size: 48px;
        font-family: 'Monoton', cursive;
        height: auto;
        width: auto;
        border-radius: 4px;
        margin-right: 2px;
        opacity:  0;

        &--space{
            width: 30px;
        }
    }
}