.gallery {
	position: relative;
	text-align: center;
    padding: 8rem 0;
    padding: 0;
    background-color: #c3c3c3;

    &__slide {
        position: absolute;
        right: 100%;
    }
    &__image {
        visibility: hidden;
        max-width: 600px;
        max-height: 400px;
    }
    &__text {
        text-indent: -9999px;
    }
    &__canvas {
        position: relative;
        width: 100vw;
        height: 100vh;
        transition: 0.2s opacity;

        &--hidden {
            opacity: 0;
            transition-duration: 0.3s;
        }
    }
    &__button {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100px;
        height: 100px;
        margin: -25px 0 0 0;
        background-color: #5104ab;
        color: #fff;
        font-family: inherit;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.1s background-color;

        &:hover {
            background: #5f3abf;
        }
        &--next {
            left: auto;
            right: 0;
        }
    }
    @media screen and (max-width: 720px) {
        &__image {
            max-width: 300px;
        }
    }

    @media screen and (max-width: 55em) {
        &__canvas {
            width: 100vw;
            height: 100vw;
        }
        &__button {
            width: 60px;
            height: 60px;
        }
    }
}