.hero{
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/hero_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // background: rgba(#D4C4C2, .9);
        background: linear-gradient(to left, #202020, #202020 60%, rgba(#000, .5) 100%);

    }
}